@import "tailwindcss";

@font-face {
  font-family: "Wilhem";
  src: url("./assets/fonts/Wilhem-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mono:
    "JetBrains Mono",
    monospace;

  --font-apfel:
    "Apfel Grotezk",
    sans-serif;
  
  --font-wilhem:
    "Wilhem",
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}